.env

.idea/
.vscode/
*.iml
*.swp
.DS_Store

/backend/target/
/shared-schema/target/
**/*.rs.bk

/frontend/.dart_tool/
/frontend/.packages
/frontend/build/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/android/key.properties
/frontend/ios/.generated/
/frontend/ios/Flutter/App.framework
/frontend/ios/Flutter/Flutter.framework
/frontend/ios/Flutter/Flutter.podspec
/frontend/ios/Flutter/Generated.xcconfig
/frontend/ios/Flutter/app.flx
/frontend/ios/Flutter/app.zip
/frontend/ios/Flutter/flutter_assets/
/frontend/ios/Flutter/flutter_export_environment.sh
/frontend/ios/ServiceDefinitions.json
/frontend/ios/Runner/GeneratedPluginRegistrant.*
/frontend/macos/Flutter/GeneratedPluginRegistrant.swift
/frontend/macos/Flutter/ephemeral/
/frontend/windows/flutter/ephemeral/
/frontend/linux/flutter/ephemeral/

coverage/
*.log