.DS_Store
Thumbs.db
*.sw?
.history
.direnv/

.env*
!.env.example

pgdata/
*.db
/logs/

**/target/
**/*.rs.bk

**/node_modules/
**/dist/
**/build/
**/.eslintcache
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

frontend/shared/src/types/

**/src-tauri/gen/
**/src-tauri/binaries/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.sublime-project
*.sublime-workspace

.docker-build-cache/